*{
  margin: 0px;
  padding: 0px;
}

body{
  font-family: 'Arial', sans-serif;
  background: #e9f0f5;
}

p{
  margin: 10px 0;
}

.container{
  width: 940px;
  overflow: auto;
  margin: auto;
}

header, footer{
  background: #5e6482;
  height: 70px;
  color: #fff;
  text-align: center;
  padding-top: 20px;
}

footer{
  height: 40px;
  padding-top: 10px;
  padding-bottom: 10px;
}

#timeline{
  background: url(../assets/line.png) repeat-y center;
  min-height: 700px;
  margin: 20px 0 20px 0;  /* margin: TOP RIGHT BOTTOM LEFT */
}

.tl-block{
  position: relative;
  width: 100%;
  min-height: 100px;
  margin-bottom: 20px;
}

.tl-year{
  display: block;
  width: 67px;
  height: 70px;
  margin: auto;  /* Center the year DIV horizontally */
  background: url(../assets/point-big.png) no-repeat;  /* background blue circle */
  margin-top: 20px;
}

.tl-year div{   /* DIV with the actual year. ie: 2018 */
  text-align: center;   /* Center text DIV inside 'year' DIV */
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  padding-top: 23px;
}

.tl-event{
  background: url(../assets/point-small.png) no-repeat top center;  /* top (y-axis) center(x-axis) */
  margin: auto;
  width: 100%;
  overflow: hidden;
  visibility: visible;
  -webkit-animation: fade;
  -webkit-animation-duration: 2s;
}

@-webkit-keyframes fade{
  0%{opacity:0;}
  100%{opacity:1}
}

.event-left, .event-right{
  width: 45%;
  position: relative;
}

.event-left{
  float: left;
  background: url(../assets/arrow-right.png) no-repeat top right;
}

.event-right{
  float: right;
  background: url(../assets/arrow-left.png) no-repeat top left;
}

.event-left div{
  margin-right: 20px;
}

.event-right div{
  margin-left: 20px;
}

.tl-event div div{
  background: #fff;
  border-radius: 10px;
  padding: 15px;
}

.tl-event time{
  background: #c03b44;
  color: #fff;
  font-size: 12px;
  padding: 5px;
  border-radius: 5px;
  margin-right: 5px;
}

@media(max-width:768px){
  .container{
    width: 95%;
  }

  header{
    height: 50px;
  }

  h1{
    font-size: 23px;
  }

  #timeline{
    background: url(../assets/line.png) repeat-y 30px 0;
    min-height: 700px;
    margin: 20px 0 20px 0;
  }

  .tl-year{
    background: url(../assets/point-big.png) no-repeat 0 0;
    display: block;
    text-align: left;
    margin: 0px;
  }

  .tl-event{
    background: url(../assets/point-small.png) no-repeat 16px 0;
  }

  .tl-event div{
    width: 85%;
    position: relative;
  }

  .tl-event div.event-left{
    float: right;
    background: url(../assets/arrow-left.png) no-repeat ;
  }

  .tl-event div.event-left div{
    margin-left: 20px;
    margin-right: 0px;
  }
}
